# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Configurações sensíveis (Environment variables)
.env
.env.local
.env.development
.env.production
.env.test

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/

# Python / Backend
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
