.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black; /* Ensure black background */
  color: white;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for menu */
}

.top-menu nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-placeholder img {
  max-width: 500px;
  max-height: 500px;
  width: 100%; /* Make image responsive */
  height: auto;
}
