<div style="width: 19cm; margin-top: 2cm; margin-left: auto; margin-right: auto; font-family: Arial, sans-serif;">
    <div style="overflow: hidden; padding-bottom: 2px;">
        <div style="float: left; width: 1cm; height: 1px;"></div>
        <div style="float: left; width: 5cm; border-top: 1pt solid #000; height: 1px;"></div>
        <div style="float: left; width: 1cm; height: 1px;"></div>
        <div style="float: left; width: 5cm; border-top: 1pt solid #000; height: 1px;"></div>
        <div style="float: left; width: 1cm; height: 1px;"></div>
        <div style="float: left; width: 5cm; border-top: 1pt solid #000; height: 1px;"></div>
        <div style="float: left; width: 1cm; height: 1px;"></div>
    </div>
    <div style="overflow: hidden; text-align: center; font-size: 10pt;">
        <div style="float: left; width: 1cm; height: 1px;"></div>
        <div style="float: left; width: 5cm;">
            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px;">SECRETÁRIO</p>
        </div>
        <div style="float: left; width: 1cm; height: 1px;"></div>
        <div style="float: left; width: 5cm;">
            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px;">ORADOR</p>
        </div>
        <div style="float: left; width: 1cm; height: 1px;"></div>
        <div style="float: left; width: 5cm;">
            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px;">VENERÁVEL MESTRE</p>
        </div>
        <div style="float: left; width: 1cm; height: 1px;"></div>
    </div>
    <div style="clear: both;"></div>
</div>